body {
    margin: 0;
    background-color: antiquewhite;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-family: Verdana, sans-serif;
    font-size: .8rem;
    padding: 10px;
    width: 95%
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    width: 95%;
    background-color: lightblue;
    height: 2rem;
}

button {
    cursor: pointer;
}

h1.page-title {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

.columns {
    width: 100%;
    margin: 5px 10px 5px 10px;
}

.columns .tab-content {
    width: 95%;
}

.shelf-tray {
    height: 130px;
}

.shelf[data-kind="optional"] {
    display: none;
}

.shelf[data-kind="clickable"] .shelf-tray img {
    cursor: pointer;
}

.shelf-tray img {
    max-height: 120px;
}

.crumb {
    width: 92%;
    margin: 0;
}

.crumb img {
    height: 25px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    header {
        width: 98%;
    }

    .columns {
        display: flex;
        gap: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .blurb {
        min-width: 50%;
        margin-left: 10px;
    }

    .registration {
        min-width: 45%;
    }

    .shelf[data-kind="optional"] {
        display: block;
    }

    .crumb {
        width: 95%;
        margin: 0;
    }
}

@media screen and (min-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkgray;
    }

    header {
        width: 900px;
        margin-bottom: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    main {
        width: 900px;
        background-color: antiquewhite;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 20px;
        font-size: 1rem;
        min-height: 100vh;
    }

    .shelf-tray {
        height: 200px;
        width: 99%;
    }
    
    .shelf-tray img {
        max-height: 180px;
    }

    .crumb {
        width: 95%;
        margin: 0;
    }

}

