.book-container {
    min-height: 82vh;
}

.book-columns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.book-cover {
    margin-top: 20px;
    width: fit-content;
}

.book-title {
    font-size: 1.3rem;
    font-weight: normal;
}

.book-author {
    font-size: 1.1rem;
    font-weight: normal;
}

.book-synopsis {
    font-size: .8rem;
}

.book-option {
    display: flex;
    align-items: center;
    gap: 5px;
}

.book-option input, .book-option label {
    margin: 0;
    padding: 0;
    width: fit-content;
}

.book-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.book-cover {
    cursor: pointer;
}

.review-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.review-nav {
    display: flex;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 20px;
}

.book-input {
    width: 99%;
}

.book-hint {
    display: flex;
    font-size: .7rem;
    flex-direction: column;
    padding-left: 3px;
}

.book-hint div:hover {
    cursor: pointer;
    background-color: rgb(238, 216, 183);
}

.book-link {
    margin-top: 15px;
    color:dodgerblue;
}

.book-link:hover {
    color:blueviolet;
}

#back, #forward {
    cursor: pointer;
}

#back:hover, #forward:hover {
    color: green;
}

.book-rating {
    margin-top: 10px;
    font-size: .8rem;
}

.book-rating img {
    height: 18px;
}

@media screen and (min-width: 900px) {
    .book-synopsis {
        font-size: 1rem;
    }
}