form, fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form button {
    width: fit-content;
    align-self: flex-end;
}

select {
    width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
}

.field {
    display: flex;
    align-items: center;
    gap: 5px;
}

.field input {
    width: 100%;
    align-self: center;
    flex: 1;
}

.eyes {
    cursor: pointer;
}
